@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans TC", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, *::-webkit-scrollbar {
	display: none;
}

html,
body, * {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	-webkit-tap-highlight-color: transparent;
}


@font-face {
  font-family: "Thin";
  src: url("/font/ChenYuluoyan-Thin.ttf") format("truetype");
  font-weight: 0;
  font-style: normal;
}

@font-face {
  font-family: "B";
  src: url("/font/GenSenRounded-B.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "R";
  src: url("/font/GenSenRounded-R.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* 通用彈出視窗過渡效果 */
.modal-enter {
  opacity: 0;
  transform: scale(0.95);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.modal{
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  margin: 0 30px;
}

/* 背景遮罩過渡效果 */
.overlay-enter {
  opacity: 0;
}
.overlay-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

@layer utilities {
  /* 載入動畫 */
  @keyframes loading-bar {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 100%;
      left: 100%;
    }
  }

  .animate-loading-bar {
    animation: loading-bar 2s ease-in-out infinite;
  }

  body {
    background-color: #1b080a;
  }
  .h-screen {
    height: 100vh;
    height: 100svh;
  }
  .h-screen {
    height: 100vh;
    height: 100svh;
  }
  .bg-pink-radial {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    mix-blend-mode: plus-lighter;
  }

  .custom-scroll-container {
    height: 3.375rem;
    margin: 1.5rem auto 0 auto;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .custom-scroll-container::-webkit-scrollbar {
    display: none;
  }

  .scroll-content {
    display: flex;
    flex-shrink: 0;
  }

  .scroll-content img {
    padding: 0 2rem;
  }

  .first {
    animation: scroll 12s linear infinite;
  }
  .second {
    animation: scroll 12s linear infinite;
    animation-delay: -12s;
  }
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .custom-scroll-container:hover .first,
  .custom-scroll-container:hover .second {
    animation-play-state: paused;
  }

  .wave-container {
    width: 100%;
    overflow: hidden;
    height: 750px;
    position: relative;
    min-width: 800px;
  }
  .wave-container .img-container {
    display: flex;
    width: 200%;
    height: 100%;
    position: absolute;
  }
  .wave-container .img-container.wave_0 {
    animation: wave-animation 40s linear infinite;
  }
  .wave-container .img-container.wave_1 {
    animation: wave-animation 20s linear infinite;
  }
  .wave-container .img-container.wave_2 {
    animation: wave-animation 50s linear infinite;
  }
  .wave-container .img-container.wave_3 {
    animation: wave-animation 20s linear infinite;
  }

  .wave-container .img-container img {
    width: 50%;
  }

  @keyframes wave-animation {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }

  @media (max-width: 768px) {
    .wave-container {
      overflow-x: hidden;
      height: 780px;
      position: relative;
    }
    .wave-container .img-container {
      display: flex;
      width: 200%;
      height: 100%;
      position: absolute;
    }
  }

  .navMargin {
    margin-top: clamp(20px, 18vh, 64px);
    margin-bottom: clamp(20px, 18vh, 64px);
  }

  .navHover {
    color: #ffffff;
    transition: ease-in-out, opacity 0.3s ease-in-out;
  }

  .navHover:hover {
    cursor: pointer;
    opacity: 1;
  }

  .navContainer:has(.navHover:hover) .navHover:not(:hover) {
    opacity: 0.4;
  }

  .carousel-container {
    overscroll-behavior: none;
    scroll-padding: 0px 20px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
  }

  .cardScroll {
    width: 100%;
    display: flex;
    height: 28rem;
    padding-top: 0.5rem;
    justify-content: space-between;
    overflow-x: auto;
    gap: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 256px;
    padding-right: 256px;
  }

  @media (max-width: 1024px) {
    .cardScroll {
      width: 100%;
      display: flex;
      height: 28rem;
      padding-top: 1rem;
      justify-content: space-between;
      overflow-x: auto;
      gap: 1rem;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1536px) {
    .cardScroll {
      width: 100%;
      display: flex;
      height: 28rem;
      padding-top: 0.5rem;
      justify-content: space-between;
      overflow-x: auto;
      gap: 1rem;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding-left: 128px;
      padding-right: 128px;
    }
  }

  .arrowPositionLeft {
    left: 100px;
  }
  .arrowPositionRight {
    right: 100px;
  }
  @media (max-width: 1024px) {
    .arrowPositionLeft {
      left: 0px;
    }
    .arrowPositionRight {
      right: 0px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1536px) {
    .arrowPositionLeft {
      left: 100px;
    }
    .arrowPositionRight {
      right: 100px;
    }
  }

  .svgAnimation svg path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 1s ease-out forwards;
    animation-delay: 0.5s;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  .inner-shadow-box {
    background-color: #fff;
    box-shadow: inset 0 0 38.7px 10px rgba(0, 0, 0, 0.25);
  }

  /* -------------------------- */

  .group-block {
    background-color: #361014;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.8em;
    font-size: 20px;
  }

  .group-block__header__dropdown {
    display: flex;
    transition: transform 0.33s ease;
    opacity: 0.6;
  }

  .group-block__header__dropdown.expand {
    transform: rotate(-180deg);
  }

  .group-block__header__dropdown img {
    margin: auto 0;
    width: 1em;
    height: 1em;
  }

  .group-block__body {
    display: flex;
  }

  .group-block__body.scrollable {
    padding-right: 1.6em;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .group-block__body.expand {
    overflow-x: visible;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 1em;
    row-gap: 1.4em;
  }

  .group-block__body:not(.expand) .group-block-item:hover {
    transform: scale(1) !important;
  }

  .group-block__body.expand .group-block-item {
    margin-right: 0;
  }

  .group-block__body.expand .group-block-item__icon {
    width: 80px;
    height: 80px;
  }

  .group-block__body.expand p {
    height: initial;
    text-align: center;
    opacity: 1;
    margin-top: 1em;
    width: initial;
  }

  .group-block-item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0.5em;
    margin-right: -0.6em;
    min-width: 48px;
    min-height: 48px;
    position: relative;
  }

  .group-block-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .group-block-item__icon img {
    width: 80%;
    height: 80%;
  }

  .group-block-item p {
    height: 0;
    width: 0;
    opacity: 0;
    font-size: 12px;
    color: white;
  }

  .mobile-menu-container {
    backface-visibility: hidden;
  }
}

.group-padding {
  padding: 0 20px;
}

@media all and (min-width: 768px) {
  .group-padding {
    padding: 0 64px;
  }
}

@media all and (min-width: 1024px) {
  .group-padding {
    padding: 0 clamp(8rem, -24rem + 33.3333vw, 16rem);
  }
}

@media all and (min-width: 768px) {
  .group-arrow {
    margin: 0 clamp(64px, -15px);
  }
}

@media all and (min-width: 1024px) {
  .group-arrow {
    margin: 0 calc(clamp(8rem, -24rem + 33.3333vw, 16rem) - 15px);
  }
}

.group-scroll-padding {
  scroll-padding: 0 20px;
  padding: 0 20px;
  scrollbar-width: none;

}

@media all and (min-width: 768px) {
  .group-scroll-padding {
    scroll-padding: 0 64px;
    padding: 0 64px;
  }
}

@media all and (min-width: 1024px) {
  .group-scroll-padding {
    scroll-padding: 0 clamp(8rem, -24rem + 33.3333vw, 16rem);
    padding: 0 clamp(8rem, -24rem + 33.3333vw, 16rem);
  }
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.card-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-content: stretch;
  gap: 1rem;
  justify-items: center;
}

@media (max-width: 680px) {
  .card-category {
    gap: 14px;
  }
  
  /* 寬度介於 501px ~ 680px 時使用此 grid 設定 */
  .card-category {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media (max-width: 580px) {
  .card-category {
    grid-template-columns: repeat(auto-fill, minmax(max(150px, 33vw), 1fr));
  }
  
  .card-category img {
    border-radius: 8px;
  }

  .card-category > div {
    background: none;
    border-radius: 0;
  }

  .card-category .card-content {
    padding: 10px 0 0 0;
  }
  
  .card-category .card-content div {
    font-size: 16px !important;
    margin: 0;
  }

  .card-category .card-content-summary {
    display: none;
  }
}

/* 介紹頁面的進入和離開動畫 */
.intro-enter {
  opacity: 0;
  transform: scale(0.9);
}
.intro-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.intro-exit {
  opacity: 1;
  transform: scale(1);
}
.intro-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

/* 問題頁面的進入和離開動畫 */
.question-enter {
  opacity: 0;
  transform: scale(0.9);
}
.question-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.question-exit {
  opacity: 1;
  transform: scale(1);
}
.question-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 15/13;
}

.slideshow-image {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* 淡入效果：不透明度從 0 過渡到 1 */
.fade-in {
  opacity: 1;
}

/* 淡出效果：不透明度從 1 過渡到 0 */
.fade-out {
  opacity: 0;
}

.primary-button{
  background-color: #F748C1;
  color: white;
  border-radius: 999px;
  transition: box-shadow 0.6s cubic-bezier(0,0,0,1);
  box-shadow: 0 0 0px 0 transparent;

}

.primary-button:hover{
  box-shadow: 0 0 40px 0 #F748C1;
}

.max-menu{
  width: 28px;
  height: 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-menu div{
  width: 18.5px;
  height: 2.3px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transition: width 0.3s ease-in-out;
}

.max-menu.active div:nth-child(1){
  animation: menu-1 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.max-menu.active div:nth-child(2){
  animation: menu-2 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.max-menu.active div:nth-child(3){
  animation: menu-3 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.max-menu:not(.active) div:nth-child(1){
  animation: menu-1-reverse 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.max-menu:not(.active) div:nth-child(2){
  animation: menu-2-reverse 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.max-menu:not(.active) div:nth-child(3){
  animation: menu-3-reverse 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes menu-1{
  0%{
    width: 18.5px;
    transform: translateY(-4px) rotate(0);
  }
  50%{
    width: 24px;
    transform: translateY(2.3px) rotate(0deg);
  }
  100%{
    width: 26px;
    transform: translateY(2.1px) rotate(45deg);
  }
}

@keyframes menu-1-reverse{
  0%{
    width: 26px;
    transform: translateY(2.1px) rotate(45deg);
  }
  50%{
    width: 24px;
    transform: translateY(2.3px) rotate(0deg);
  }
  100%{
    width: 18.5px;
    transform: translateY(-4px) rotate(0);
  }
}

@keyframes menu-2{
  0%{
    width: 18.5px;
  }
  100%{
    width: 2.3px;
  }
}

@keyframes menu-2-reverse{
  0%{
    width: 2.3px;
  }
  100%{
    width: 18.5px;
  }
}

@keyframes menu-3{
  0%{
    width: 18.5px;
    transform: translateY(4px) rotate(0);
  }
  50%{
    transform: translateY(-2.3px) rotate(0deg);
  }
  100%{
    width: 26px;
    transform: translateY(-2.1px) rotate(-45deg);
  }
}

@keyframes menu-3-reverse{
  0%{
    width: 26px;
    transform: translateY(-2.1px) rotate(-45deg);
  }
  50%{
    transform: translateY(-2.3px) rotate(0deg);
  }
  100%{
    width: 18.5px;
    transform: translateY(4px) rotate(0);
  }
}




